<%= structure_page_header %>

<div id="list-toolbar">
  <a href="" data-action="add-to-list">
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      Add a Section
    </button>
  </a>
  <!--<button data-action="submit-list" class="btn btn-primary">Save</button>-->
  <%= button_tag type: 'button', class: 'btn btn-primary',
                 data: { action: 'submit-list',
                         prefix: Rails.application.config.relative_url_root || '' } do %>
    Save
  <% end %>
</div>
<ul class="sortable" data-id="<%= @presenter.id %>" data-class-name="<%= @presenter.model_name.plural %>">
  <form class="form-inline">
    <div class="form-group">
      <label for="structure_label">Structure Label</label>
      <%= text_field_tag "label", @logical_order.form_label, id: "structure_label", class: "form-control" %>
    </div>
  </form>
  <% @logical_order.nodes.each do |node| %>
    <%= render "structure_node", node: node %>
  <% end %>
  <% @logical_order.unstructured_objects.nodes.each do |node| %>
    <%= render "structure_node", node: node %>
  <% end %>
</ul>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="viewer-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="clearfix"></div>
      <%= openseadragon_picture_tag '', data: { openseadragon: { showRotationControl: true }} %>
    </div>
  </div>
</div>

